.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: pink;
}

.login_container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: aquamarine;
    border-radius: 5px;
    box-shadow: 0 0 10px red;
}

.login_container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.login_container form {
    display: flex;
    flex-direction: column;
}

.login_container form h5 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.login_container form input {
    padding: 10px;
    border: 1px solid purple;
}

.login_container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: pink;
    font-size: 1.2rem;
    cursor: pointer;
}

.login_container form button:hover {
    background: plum;
    font-size: 1.4rem;
}

.login_container a {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.login_container a:hover {
    color: red;
    font-size: 1.4rem;
}

.login_register {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
}